= form_for @character do |f|
  - if @character.errors.any?
    #error_explanation
      %h2= "#{pluralize(@character.errors.count, "error")} prohibited this character from being saved:"
      %ul
        - @character.errors.full_messages.each do |message|
          %li= message



  .form-row
    .col-md-3.mb-3
      = f.label :name, "Name"
      = f.text_field :name, :placeholder => "Name", :required => true, :type => "text", :class => "form-control"
    .col-md-2.mb-3
      .input-group
        = f.label :image, "Picture"
        = f.select :image_id, Image.pluck(:name, :id)
            
  .form-row
    .col-md-2.mb-3
      = f.label :life, "Life"
      = f.number_field :life, :class => "form-control", :min => 50, :max => 100, :required => true, :type => "number"
    .col-md-2.mb-3
      = f.label :damage_attack, "Damage attack"
      = f.number_field :damage_attack, :class => "form-control", :min => 0, :max => 10, :required => true, :type => "number"
    .col-md-2.mb-3
      = f.label :shield, "Shield"
      = f.number_field :shield, :class => "form-control", :min => 0, :max => 10, :required => true, :type => "number"
    .col-md-2.mb-3
      = f.label :shield, "Experience"
      = f.number_field :experience, :class => "form-control", :min => 0, :max => 20, :required => true, :type => "number"
  %button.btn.btn-primary{:type => "submit"} Submit form