= form_for @fight do |f|
  - if @fight.errors.any?
    #error_explanation
      %h2= "#{pluralize(@fight.errors.count, "error")} prohibited this fight from being saved:"
      %ul
        - @fight.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :opponent1, "Fighter 1"
    = f.select :opponent1_id, Character.pluck(:name, :id)
    = f.label :opponent2, "Fighter 2"
    = f.select :opponent2_id, options_for_select(Character.all.map{|s|[s.name, s.id]})
  .actions.btn.btn-primary
    = f.submit 'Save'
