<% if @fights.where(:status => "Done").size > 0 %>
<div class="fight-inner">
    <h2>Last figths</h2>
    <table class="table table-borderless">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Fighter 1</th>
                <th scope="col" style="text-align: center">Vs.</th>
                <th scope="col">Fighter 2</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <% @fights.where(:status => "Done").reverse_each do |f| %>
                <tr>
                    <th scope="row"><%= f.id %></th>
                    <td >
                        <div class="card" style="width: 7rem;">
                            <img class="<%= "looser" if f.winner == "opponent2" %>" src="<%= asset_url(f.opponent1.image.url) %>" alt="<%= f.opponent1.name %>">
                            <div class="card-body" style="text-align: center">
                                <p class="card-text">
                                    <%= f.opponent1.name %>
                                    <br/>
                                    <% if f.winner == "opponent1" %>
                                        won 
                                    <% elsif f.winner == "opponent2" %> 
                                        lost
                                    <% end %>
                            </p>
                            </div>
                        </div>
                    </td>
                    <td style="text-align: center; vertical-align: middle">vs</td>
                    <td>
                        <div class="card" style="width: 7rem;">
                            <img class="<%= "looser" if f.winner == "opponent1" %>" src="<%= asset_url(f.opponent2.image.url) %>" alt="<%= f.opponent2.name %>">
                            <div class="card-body" style="text-align: center">
                                <p class="card-text">
                                    <%= f.opponent2.name %>
                                    <br/>
                                    <% if f.winner == "opponent2" %>
                                        won 
                                    <% elsif f.winner == "opponent1" %> 
                                        lost
                                    <% end %>
                                </p>
                            </div>
                        </div>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
<% end %>