%h1 Listing images

%table.table
  %thead
    %tr
      %th{:scope => "col"} Name
      %th{:scope => "col"} Url
      %th{:scope => "col"}
      %th{:scope => "col"}
      %th{:scope => "col"}

  %tbody
    - @images.each do |image|
      %tr
        %th{:scope => "row"}= image.name
        %td= image.url
        %td= image_tag(image.url, size: "60x60")
        %td= link_to 'Edit', edit_image_path(image)
        %td= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Image', new_image_path
